# python venv files
.venv
venv/

# byte-compiled / optimized / DLL files
**/__pycache__/
**/*.pyc

# macOS files and IDEs
.DS_Store
.idea/
.vscode/

# Environment & Secrets (NEVER COMMIT THESE)
.env
aweber/aweber_token.json

# Output files (you probably don't want to share these either)
data/

# these are temporary files created manually using chrome dev tools
buffer/raw_data_dumps/